body {
    background-color: #dbdbdb;
    margin: 00px;
    font-family: fluoxetine, sans-serif;
}

@font-face {
    font-family: fluoxetine;
    src: url('Assets/Fluox___.ttf') format('truetype');
}

/* ul {
    font-size: 35px;
} */

/* li {
    display: inline;
} */

li a:link {
    text-decoration: none;
    transition: color 0.3s;
}

li a:visited {
    color: #696969;
}

li a:hover {
    color: #ffffff;
}

a {
    color: black;
    display: inline-block;
    padding: 15px;
}

/* #polaroids {
    position: relative;
} */

/* .carousel-indicators {
    bottom: -50px;
    z-index: 1;
} */


.sizing-cards {
    width: 30%;
}

@media screen and (max-width: 1200px){
  .sizing-cards{
    width: 45%
  }
}

@media screen and (max-width: 992px){
  .sizing-cards{
    width: 65%
  }
}

/*BUTTON SIZE*/
/* .carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1vw;
  height: 1vw;
} */


/* .left-right-controls {
    margin: auto;
} */

/* .carousel-item img {
    padding: 100px;
} */


/* ABOUT PAGE */

.about-me {
    font-size: 2.5rem;
    padding: 100px;
    font-family: 'Courier New', Courier, monospace 
}